*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}
body{
    background: linear-gradient(
        120deg,
        #E8A0BF 0%,
        #BA90C6 100%
    );
}
.add_btn{
    text-align: center;
}
.add_btn button{
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 2px;
}
.table{
   margin-top: 50px; 
}
.container{
    overflow: auto;
}
.edit_h1{
    margin-top: 30px;
}
.main_card{
    padding: 20px;
}
.left_view h3,.right_view h3{
    font-size: 21px;
    font-weight: 700;
}
.left_view span, .right_view span{
    font-weight: 400;
    text-align: justify;
}
.left_view p, .right_view p{
    font-weight: 700;
}
.add_btn{
    text-align: right;
}
